.stackContainer {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 10rem;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  min-height: 320px;
  border: 1px solid;
  border-top: none;
  .stackItem {
    background-color: crimson;
    padding: 5px;
    border-bottom: 1px solid;
  }
}
